torch                              
torchvision                        
trl                                  
transformers                        
accelerate                           
deepspeed                            
datasets                     
huggingface-hub             
tokenizers
sentencepiece
numpy
packaging
psutil                  
safetensors
pyyaml
tqdm
ninja             