torch==2.6.0                              
torchvision==0.21.0                        
trl                                  
transformers                        
accelerate                           
deepspeed                            
datasets                     
huggingface-hub             
tokenizers
sentencepiece
numpy<2.0
pandas<3.0
packaging
psutil                  
safetensors
pyyaml
tqdm
ninja             